sphinxcontrib-napoleon
sphinx_rtd_theme
bs4
docutils
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.0.4 # not directly required, pinned by Snyk to avoid a vulnerability
